<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manual</title>
    <link rel="stylesheet" href="../style/manual.css">
</head>
<body>
    <div class="div">
        <h1>Посібник користувача</h1>

        <h2>Зміст</h2>


        <h3>Посібник користувача програмного забезпечення "Щоденник Справ"</h3>
        <img  class="img" src="../manualImg/main.png" alt="img">
        <p><b>ВАЖЛИВО!</b> Перед установкою та використанням прочитайте всі інструкції.
            Цей посібник повинен бути наданий кінцевому користувачеві.</p>
    </div>
</body>
</html>